@import url('https://fonts.googleapis.com/css?family=Orbitron');

body{
    font-family: 'Orbitron', sans-serif;
    background-image: url("../IMG/fondo.jpeg");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 100%;
    background-color: white;
}

li{
    list-style:none;
    text-decoration: none;
    margin-top: 1%;
}

a:link { 
    text-decoration:none; 
}

h2{
    margin-top: 2%;
    font-size: 100px;
}

a{
    text-shadow: 3px 3px 2px #000;
    transition: font-size .5s;
    color: white;
    font-size: 40px;
}

a:hover{
    transition: font-size .5s;
    font-size: 50px;
}


.contenedor {
    margin: auto;
    display: table;
}

p > a{
    display: inline-block;
    margin-top: 50px;
    color: white;
}

pre{
    font-size: 17px;
    background: white;
    opacity: 0.8;
    border-radius: 20px;
}

fieldset{
    display: none;
}

table, #pagError{
    background: white;
    opacity: 0.8;
    border-radius: 20px;
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

#menuError{
    color: black;
}

td{
    font-size: 40px;
}
input{
    font-size: 40px;
}